@font-face {
    font-family: titleFont;
    src: url("../fonts/Teko-Medium.ttf");
}
@font-face {
    font-family: textFont;
    src: url("../fonts/Merriweather-Regular.ttf");
}


* { box-sizing: border-box; }
html { 
    height: 100%; 
    background-color: #222525;
    overflow-y: hidden; 
    overflow-x: hidden; 
}
body {
    font-family: titleFont;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/*HEADER*/
#header_1Layer {
    padding: 0 2% 0 2%;
    background-color: #3a3f3f;  
    justify-items: center;
    color: white;
    border-bottom: 2px solid #222525;
    text-shadow: black 0px 3px 10px;
    align-items: center;
}
#header_1Layer a:visited, #header_1Layer a:link {
    color: #FBFAF8;
    text-decoration: none;
}

/*BODY*/
#body_1Layer {
    display: grid;
}
#navigation_2Layer {
    display: grid;
}
.body_2Layer {
    display: block;
}
.sepparator {
    display: grid;
    grid-template-columns: 1fr 6fr 5px 20px 5px 6fr 1fr;
    grid-column: 2 / 14;
    color: white;
}
.sepparator-left {
    grid-column: 2;
    height: 0px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, white);
    border-image-slice: 1;
    margin-top: 17px;
}
.sepparator-middle {
    grid-column: 4;
    color: rgb(255, 252, 104);
    text-align: center;
}
.sepparator-right {
    grid-column: 6;
    height: 0px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, transparent, white);
    border-image-slice: 1;
    margin-top: 17px;
}
.content_3Layer {
    display: grid;
    padding: 10px 0 20px 0;
}
.intro {
    display: block;
    grid-column: 2 / 14; 
}
.article_4Layer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2 / 14;
    column-gap: 3%;
}
.article_4Layer div.columnHalf{
    padding: 0 17px 0 17px;
}
.article_4Layer .card_5Layer{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    background-color: white;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*NAVIGATION MENU*/
nav {
    overflow:hidden;
    transition: all 0.5s ease;
}
nav input {
    display:none;
}
nav input:checked ~ label span:last-child {
    display:none;
}
nav input:not(:checked) ~ label span:first-child {
    display:none;
}
nav input:checked ~ label {
    color: #1a1a1a; 
    background: white;
}
nav input:not(:checked) ~ label {
    color: #FBFAF8;
    background:#222525;
}
nav input:checked ~ .items {
    color: white; 
}
nav input:not(:checked) ~ .items {
    color: #222525;
}
nav label {
    font-weight: bold;
    transition: all 0.1s ease;
    margin-left: 0px;
    display:block;
    user-select:none;
    width:45px;
    height:45px;
    text-align:center;
    font-size: 30px;
    line-height:45px;
    color:#FBFAF8;
    cursor:pointer;
}
nav .items {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 30px;
    overflow:hidden;
    max-width:0px;
    max-height:0px;
    transition:max-width 0.5s, max-height 0.5s;
}
.items a {
    cursor: pointer;
    font-size: 1.8em;
    text-transform:uppercase;
    text-decoration:none;
    width: 100%;
    max-height: 30px;
    line-height:30px;
    letter-spacing:1px;
    text-align:center;
    transition:all 0.1s ease;
    padding: 2px 10px 2px 10px;
    white-space: nowrap;
}
.item a:active {
    background: rgb(54,78,89);
    background: linear-gradient(90deg, rgba(58,63,63,1) 0%, rgba(34,37,37,1) 27%);
    color:white;
}

/* TEXT STYLES AND ARTICLES */
.intro h1 {
    color: white;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin: 0 0 0 0;
    white-space: nowrap;
}
.introBack {
    color: rgb(30, 30, 30);
    display: block;
    letter-spacing: 3px;
    z-index: -1;
    text-align: center;
    position: relative;
    margin: 0 0 0 0;
    white-space: nowrap;
    height: 0;
    font-weight: bolder;
}
.intro h2 {
    color: rgb(255, 252, 104);
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin: 0 0 0 0;
    white-space: nowrap;
}
.article_Styling1 {
    color: white;
    font-family: textFont;
    font-size: 1.1em;
}
.contactButton {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: textFont;
    border-radius: 0 10px 0 10px;
    padding: 8px 10px 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(58, 63, 63, 0);
    box-shadow: 8px 12px rgb(30, 30, 30);
    border-top: solid 1px white;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 3px white;
}
.buttonActive {
    cursor: pointer;
    color: white;
}
.buttonInactive {
    cursor: pointer;
    color: white;
}

.contactButton:hover {
    transition: all .1s;
    background-color: rgb(58, 63, 63);
}
.contactButton:active {
    transition: all .1s;
    box-shadow: 8px 8px rgb(30, 30, 30);
    transform: translateY(4px);
}
#contactCard {
    transition: all .3s;
    border-radius: 5px;
    background-image: url("../img/corner.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 22px;
}
#contactCard p, #contactCard a {
    transition: all .3s;
    margin: 0;
    font-size: 1.15em;
}
.visibleCard {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 14px 12px 15px 12px;
    max-height: 9999px;
    height: auto;
}
.notVisibleCard {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 12px 0px 12px;
    max-height: 0px;
    height: auto;
}
.visibleCard p, .visibleCard a {
    color: rgb(24, 24, 24);
    max-height: 50px;
}
.notVisibleCard p, .notVisibleCard a { 
    color: rgba(24, 24, 24, 0);
    max-height: 0px;
}

